doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div(id="head")
      p(id="total")= tipAmount
      p(id="total")= finalTotal
      p(id="quote") That which you cannot give away, you do not possess. It possesses you.
      p(id="quote") - Ivern Ball
